export(calc.stat)
export(dv.plot)
export(est.nca)
export(histobs.plot)
export(histpop.plot)
export(nca.deviation.plot)
export(nca.npde)
export(nca.npde.plot)
export(nca.pde.deviation.outlier)
export(ncappc)
